/***************
GLOBAL STYLES
***************/

body {
	font-size: 125%;

	.content > svg {
		width: 50em;
		top: auto;
		bottom: -25%;
		right: 70%;
		translate: 100% 0;
	}
}

.content {
	$offset: 2em;
	padding-top: 0;
	position: relative;
	z-index: 1;

	&:after {
		background: white;
		top: -$offset;
		content: "";
		display: block;
		width: 100%;
		height: 10em;
		position: absolute;
		left: 0;
		transform: skewY(-2deg);
		transform-origin: bottom left;
		z-index: -1;
	}
}

.container {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


/***************
HOMEPAGE STYLING
***************/

#home {

	.posts,
	.pageTitle,
	.pagination {
		width: 75%;
		float: none;
		margin: 0 auto 1.5em;
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}
}


/***************
HEADER STYLING
***************/

.logo-image {
	display: block;
	position: fixed;
	left: 0;
	width: 4em;
	top: 0;
	z-index: 10;

	a,
	svg {
		display: block;
		width: 100%;
	}

	a {
		background: $tertiary-color;
		filter: drop-shadow(0 0 0.75rem black);

		&:hover {
			opacity: 0.9
		}
	}

	svg {
		fill: white;
		opacity: 0.5;
	}
}

.header {
	height: 15em;
	position: relative;
	padding-bottom: 2em;

	.container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		max-width: 880px;
		overflow: hidden;

		.inner {
			width: 75%;
			float: none;
			margin: 0 auto;

			&::after {
				content: "";
				clear: both;
				display: block;
			}

		}
	}

	h1 {
		font-size: 1.5em;
		line-height: 1;
		padding-left: 0;
	}

	nav {
		float: left;
		clear: left;

		ul {
			background-color: transparent;
			margin: 0;

			li {
				display: inline;
				line-height: 3em;
				background: none;
				padding: 0 5px;
				border: none;

				a {
					color: white;
					font-size: .9em;
					text-decoration: none;
					padding: 0 .25em;

					&:hover {
						color: darken(white, 20%);
					}
				}

				&.current {
					padding-bottom: .25em;
					border-bottom: 4px solid rgba(255, 255, 255, .4);
				}
			}
		}
	}

	svg {
		display: block;
		fill: white;
		position: absolute;
		width: 20em;
		opacity: 0.1;
		top: -25%;
		left: 50%;
		translate: 35% 0;
	}
}

// Large Header Size

.header--large {
	height: 50vh;

	.container {
		top: 90%;
		transform: translateY(-100%);
	}
}


/***************
MENU STYLING
***************/

.js {

	.nav-collapse {
		position: relative;
		max-height: none;

		&.closed {
			max-height: none;
		}

		ul {
			border: none;
		}

		ul li a {
			display: inline-block;
		}

		ul li:first-child {

			&, a {
				padding-left: 0;
			}
		}
	}
}

.nav-toggle {
	display: none;
}


/***************
POST STYLING
***************/

.post {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl,
	.pageTitle,
	.demoBox,
	.browserSupport__list {
		width: 75%;
		float: none;
		margin: 0 auto 2rem;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		margin: 1rem auto;
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}

	.featuredImage {
		position: relative;
		margin-top: 2rem;

		&:before {
			background: white;
			content: "";
			display: block;
			width: 100%;
			height: 4em;
			position: absolute;
			top: -2em;
			left: 0;
			transform: skewY(-2deg);
			transform-origin: bottom left;
		}
	}
}


/***************
POST NAV STYLING
***************/

.postNav {

	.prev,
	.next {
		width: 50%;
	}

	.prev {
		float: left;
		text-align: left;
	}

	.next {
		text-align: right;
		float: right;
	}
}


/***************
FOOTER STYLES
***************/

.footer {
	&-links {
		float: right;
	}

	.copy {
		float: left;
	}

	.container {
		padding: 1rem 0;
		max-width: 800px;
	}
}


/***************
CONTACT PAGE STYLING
***************/

.contactContent {
	max-width: 48%;
	margin-right: 2%;
	float: left;
}

#contact {
	form {
		max-width: 48%;
		width: 48%;
		float: right;
		margin-right: 0;
	}
}

/***************
DARK THEME STYLING
***************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}

	.content:after,
	.post .featuredImage:before {
		background: black;
	}
}