<li>
        <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank">
                <svg
                        id="twitter"
                        class="custom-icon"
                        version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 0 100 100"
			style="height: 30px; width: 30px;"
		>
			<circle
				class="outer-shape"
				cx="50"
				cy="50"
				r="48"
				style="opacity: 1;"
			></circle>
                        <path
                                class="inner-shape"
                                style="opacity: 1;"
                                d="M68.284 21.716L50 40 31.716 21.716 21.716 31.716 40 50 21.716 68.284 31.716 78.284 50 60 68.284 78.284 78.284 68.284 60 50 78.284 31.716z"
                        ></path>
                </svg>
        </a>
</li>
